<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleIdentifier</key>
	<string>fisoft.es.template</string>
	<key>CFBundleName</key>
	<string>FiSeR</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleVersion</key>
	<string>10</string>
	<key>IATemplateDocumentFile</key>
	<string>document</string>
	<key>IATemplateFooterFile</key>
	<string>footer</string>
	<key>IATemplateFooterHeight</key>
	<integer>90</integer>
	<key>IATemplateHeaderFile</key>
	<string>header</string>
	<key>IATemplateHeaderHeight</key>
	<integer>60</integer>
	<key>IATemplateTitleFile</key>
	<string>title</string>
</dict>
</plist>
