table {
    border: solid 1px #b6cada;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}
table thead th {
    background-color: #b6cada;
    border: solid 1px #b6cada;
    color: #f4dbb3;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
table tbody td {
    border: solid 1px #b6cada;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}

  blockquote {
	background:		#b6cada;
	border-left:	10px solid #638cc7;
	margin:			1.5em 10px;
	padding:		.5em 10px;
}
blockquote p {
	display:		inline;
}


